<div>
  <v-container :class="[$style.container, 'grid-list-lg']">
    <v-layout row wrap>
      <v-flex xs12>
        <v-select
          label="Select target image"
          no-data-text="No images loaded"
          :items="getVolumes()"
          item-text="name"
          item-value="source"
          :value="master"
          @input="setMasterVolume"
        />
      </v-flex>
    </v-layout>
  </v-container>
  <v-expansion-panel expand>
    <v-expansion-panel-content>
      <template v-slot:header>
        <span class="body-2">Preprocess</span>
      </template>
      <v-container :class="[$style.container, 'grid-list-lg']">
        <pre-process
          :inputSource="master"
          @outputImage="setPreProcessed"
        />
      </v-container>
    </v-expansion-panel-content>
    <v-expansion-panel-content>
      <template v-slot:header>
        <span class="body-2">Segmentation</span>
      </template>
      <v-container :class="[$style.container, 'grid-list-lg']">
        <tube-tools
          :inputData="pipelines.get(master)"
        />
      </v-container>
    </v-expansion-panel-content>
  </v-expansion-panel>
</div>
