<v-container :class="[$style.container, 'grid-list-lg']">
  <v-layout row wrap>
    <v-flex xs12>
      <v-select
        label="Select target image"
        no-data-text="No images loaded"
        :items="getVolumes()"
        item-text="name"
        item-value="source"
        :value="master"
        @input="setMasterVolume"
      />
    </v-flex>
    <v-flex xs10>
      <v-slider
        v-model="medianRadius"
        min="1"
        max="10"
        step="1"
        label="Median Radius"
        always-dirty
      />
    </v-flex>
    <v-flex xs2>
      <v-text-field
        type="number"
        min="1"
        max="10"
        step="1"
        v-model="medianRadius"
      />
    </v-flex>
    <v-flex xs12 class="text-xs-center">
      <v-btn
        @click="run"
        :disabled="!master || loading"
      >
        Run Median Filter
      </v-btn>
    </v-flex>
    <v-flex xs12 v-if="loading">
      <v-progress-linear indeterminate />
    </v-flex>
  </v-layout>
</v-container>
