<v-tabs
  v-model="activeTab"
  centered
  grow
  show-arrows
  :class="$style.tabsContainer"
>
  <template v-for="tab in tabs">
    <v-tab :key="tab.name">{{ tab.name }}</v-tab>
  </template>
  <v-tabs-items touchless :class="$style.tabItems">
    <v-tab-item
      v-for="(tab, idx) in tabs"
      :key="tab.name"
      :class="$style.tabItem"
    >
      <v-layout
        v-if="tab.paginate"
        row
      >
        <v-flex xs6 text-xs-right>
          <v-btn
            flat
            small
            :disabled="(idx < 0) || !tabs[idx-1].paginate"
            @click="activeTab--"
          >
            <v-icon>arrow_left</v-icon>
            Prev
          </v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn
            flat
            small
            :disabled="(idx >= tabs.length) || !tabs[idx+1].paginate"
            @click="activeTab++"
          >
            Next
            <v-icon>arrow_right</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-component
        :is="tab.component"
        :class="$style.tabComponent"
      />
    </v-tab-item>
  </v-tabs-items>
</v-tabs>
