<v-tabs
  v-model="activeTab"
  centered
  grow
  show-arrows
  :class="$style.tabsContainer"
>
  <v-tab>Datasets</v-tab>
  <template v-for="tab in WorkflowTabs">
    <v-tab :key="tab.name">{{ tab.name }}</v-tab>
  </template>
  <v-tab>Global</v-tab>
  <v-tabs-items
    v-model="activeTab"
    touchless
    :class="$style.tabItems"
  >
    <v-tab-item :class="$style.tabItem">
      <datasets />
    </v-tab-item>
    <v-tab-item
      v-for="(tab, idx) in WorkflowTabs"
      :key="tab.name"
      :class="$style.tabItem"
    >
      <v-container class="mt-3">
        <v-row no-gutters>
          <v-col cols="6" class="text-right">
            <v-btn
              small
              text
              :disabled="idx === 0"
              @click="activeTab--"
            >
              <v-icon>mdi-menu-left</v-icon>
              Prev
            </v-btn>
          </v-col>
          <v-col cols="6">
             <v-btn
              small
              text
              :disabled="idx === WorkflowTabs.length - 1"
              @click="activeTab++"
            >
              Next
              <v-icon>mdi-menu-right</v-icon>
            </v-btn>
         </v-col>
        </v-row>
      </v-container>
      <v-component :is="tab.component" :class="$style.tabComponent" />
    </v-tab-item>
    <v-tab-item :class="$style.tabItem">
      <global-settings />
    </v-tab-item>
  </v-tabs-items>
</v-tabs>
