<v-container :class="[$style.container, 'grid-list-lg']">
  <v-layout row wrap>
    <v-flex xs12>
      <v-select
        label="Input Image"
        no-data-text="No images available"
        :items="getAvailableDatasets('vtkImageData')"
        item-text="name"
        item-value="sourceId"
        :value="inputImage"
        @input="setInputImage"
        hide-details
      />
    </v-flex>
    <v-flex xs12>
      <v-select
        label="Input Labelmap"
        no-data-text="No labelmaps available"
        :items="getAvailableDatasets('vtkLabelMap')"
        item-text="name"
        item-value="sourceId"
        :value="inputLabelmap"
        @input="setInputLabelmap"
        hide-details
      />
    </v-flex>
    <v-flex xs12>
      <v-btn @click="processData" :disabled="!canRun">
        Run
      </v-btn>
    </v-flex>
  </v-layout>
</v-container>
