<v-container :class="[$style.container, 'grid-list-lg']">
  <v-layout row wrap>
    <v-flex xs12>
      <v-select
        label="Extraction image"
        no-data-text="No images available"
        :items="getAvailableImages()"
        item-text="name"
        item-value="sourceId"
        :value="extractionImage"
        @input="setExtractionImageById"
        hide-details
      />
    </v-flex>
  </v-layout>
  <v-layout row wrap align-center>
    <v-flex xs12>
      <v-switch
        v-model="enabled"
        label="Extract"
        :disabled="!extractSource"
      />
    </v-flex>
    <v-flex xs6>
      <v-select
        v-model="tubeScale"
        label="Tube Scale"
        :items="tubeSizes"
        item-text="size"
        item-value="size"
        return-object
        hide-details
      />
    </v-flex>
    <v-flex xs6 :class="$style.secondary">
      <v-checkbox
        v-model="dynamicScale"
        label="Dynamic"
        hide-details
      />
    </v-flex>
    <template v-if="tubeScale.size === 'Custom'">
      <v-flex xs9>
        <v-slider
          v-model="ridgeScale"
          min="1"
          max="10"
          step="0.1"
          label="Ridge"
          always-dirty
          hide-details
        />
      </v-flex>
      <v-flex xs3>
        <v-text-field
          v-model="ridgeScale"
          type="number"
          min="1"
          max="10"
          step="0.1"
          hide-details
        />
      </v-flex>
      <v-flex xs9>
        <v-slider
          v-model="radiusScale"
          min="1"
          max="10"
          step="0.1"
          label="Radius"
          always-dirty
          hide-details
        />
      </v-flex>
      <v-flex xs3>
        <v-text-field
          v-model="radiusScale"
          type="number"
          min="1"
          max="10"
          step="0.1"
          hide-details
        />
      </v-flex>
    </template>
  </v-layout>
  <v-layout row wrap>
    <v-flex xs12>
      <span class="body-2">Status: </span>
      <span>{{ pendingSegs > 0 ? `${pendingSegs} processing...` : "Ready" }}</span>
    </v-flex>
    <v-flex xs12>
      <span class="body-2">Tube count: </span>
      <span>{{ numberOfTubes }}</span>
    </v-flex>
  </v-layout>
</v-container>
