<v-container :class="[$style.container, 'grid-list-lg']">
  <v-list>
    <v-subheader>Tubes</v-subheader>
    <v-divider />
    <template v-if="tubes.length === 0">
      <v-list-tile>
        <v-list-tile-content
          class="grey--text"
          style="align-items: center"
        >
          No tubes yet!
        </v-list-tile-content>
      </v-list-tile>
      <v-divider />
    </template>
    <template v-else>
      <template v-for="tubeId in selection">
        <v-list-tile :key="tubeId">
          <v-list-tile-avatar>
            <v-checkbox
              :input-value="true"
              @change="deselectTube(tubeId)"
            />
          </v-list-tile-avatar>
          <v-list-tile-content>
            Tube #{{ tubeId }}
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn
              icon
              @click="deleteTube(tubeId)"
            >
              <v-icon color="grey">delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider />
      </template>
      <template v-for="tube in tubes">
        <v-list-tile :key="tube.id">
          <v-list-tile-avatar>
            <v-checkbox />
          </v-list-tile-avatar>
          <v-list-tile-content>
            Tube #{{ tube.id }}
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn
              icon
              @click="deleteTube(tube.id)"
            >
              <v-icon color="grey">delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider />
      </template>
    </template>
  </v-list>
</v-container>
